* {
	box-sizing: border-box;
	margin: 0 auto;
	font-family: "Montserrat", sans-serif;
}
body {
	background-color: #efe7eb;
}

a {
	text-decoration: none;
	color: #333;
    font-weight: 600;
}

a:hover {
	cursor: pointer;
	opacity: 0.5;
}

.container {
	height: 100%;
	width: 70%;
	margin: 7px auto;
	/* padding: 20px 20px 0; */
	border: 1px solid rgb(141, 138, 138);
	background-color: rgb(251, 251, 251);
	box-shadow: 1px 1px 4px rgb(160, 155, 155);
	text-align: center;
}

.container__header {
	text-align: center;
	padding: 15px;
	margin: 15px 15px 0;
	background-color: #f2f2f2;
	background-color: #f6f2f4;
}

.header__contacts {
	padding: 5px;
}

.header__contacts__item {
	margin-right: 4px;
	top: 0.1em;
	position: relative;
}

.wrapper {
	padding: 0 20px 20px;
}

.section {
	margin-bottom: 10px;
	padding: 10px;
}
.section__title {
	margin-bottom: 10px;
}
.section__wrapper {
	width: 90%;
}
.section__wrapper--flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 50%;
	align-items: flex-start;
	text-align: left;
}

.section__wrapper--item {
	margin: 0;
}

.section__table {
	border-collapse: collapse;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	width: 100%;
}
th,
td {
	padding: 7px;
	border: 1px solid #ccc;
	text-align: left;
}
td {
	min-width: 10rem;
	text-align: justify;
}

.section__projects {
	text-align: left;
    line-height: 1.5rem;
}

#footer {
	background: rgb(126, 125, 125);
	color: #ded9d9;
	display: flex;
	justify-content: space-between;
	padding: 5px 15px;
	position: relative;
	bottom: 0;
	width: 100%;
}

.footer__media {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: auto 0;
}

.footer__icon {
	color: #a9a9a9;
	font-size: 1.6em;
	margin-right: 10px;
}

.footer__copyright {
	margin: auto 0;
	font-size: 14px;
}
