* {
	box-sizing: border-box;
	margin: 0 auto;
	font-family: "Montserrat", sans-serif;
}
body {
	background-color: #efe7eb;
}
.container {
	height: 100%;
	width: 70%;
	margin: 7px auto;
	padding: 20px 20px 0;
	border: 1px solid rgb(141, 138, 138);
	background-color: rgb(251, 251, 251);
	box-shadow: 1px 1px 4px rgb(160, 155, 155);
	text-align: center;
}

.container__header {
	position: sticky;
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #f2f2f2;
	animation: colorAnimation ease 3s;
	background-color: #f6f2f4;
}

.header__contacts {
	padding: 5px;
}

.header__contacts__item {
	margin-right: 4px;
    top: 0.1em;
    position: relative;
}

